.serif, h1, h2, h3, h4, h5, h6 {
  font-family: 'Cormorant Garamond', serif; }

.sans-serif, p, a {
  font-family: 'Proza Libre', sans-serif; }

body {
  background-image: url(../images/polaroid/polaroid.png);
  background-repeat: repeat;
  text-align: center; }

p {
  font-size: 16px;
  font-weight: 400;
  color: black; }

a {
  color: black;
  font-size: inherit;
  text-decoration: none; }

a:hover {
  text-decoration: underline; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  color: black; }

h1 {
  font-size: 32px; }

h2 {
  font-size: 28px; }

.line1 {
  width: calc(100vw - 30px);
  max-width: 500px;
  height: 30px;
  background-image: url(../images/line1.png);
  background-size: contain;
  background-repeat: no-repeat; }

#cover-photo {
  width: calc(100vw - 23px);
  max-width: 522px;
  text-align: center;
  margin-left: 23px;
  margin-top: 60px;
  margin-bottom: 100px; }
  #cover-photo img {
    width: 100%;
    height: auto; }

#player {
  width: 100vw;
  max-width: 500px;
  margin-top: 60px;
  margin-bottom: 80px; }
  #player a {
    border: none;
    text-decoration: none;
    opacity: 0.8;
    display: inline-block;
    margin-top: 60px; }
    #player a img {
      width: 50%;
      height: auto; }

#tour-dates {
  width: 100vw;
  max-width: 500px;
  margin-top: 30px;
  margin-bottom: 30px; }

#social-icons {
  font-size: 16px; }
  #social-icons h3 {
    font-style: italic;
    font-size: 22px; }
  #social-icons a {
    margin-left: 5px;
    margin-right: 5px;
    font-size: inherit;
    display: inline-block; }

#copyright-notice {
  padding-top: 100px; }
  #copyright-notice p {
    font-size: 12px;
    color: #c8c8c8; }
  #copyright-notice #imprint {
    color: inherit; }
  #copyright-notice #imprint:hover {
    color: #969696; }
